* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: lightblue;
}
.landingPageTitle {
    text-align: center;
    padding: 170px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.03); 
}

.cardSubtext {
    text-align: center;
    font-size: 2vw;
}

